.about-50-50 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
  gap: 60px;

  @include lg {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 100px;
    gap: 50px;
  }
  @include md {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 100px;
    gap: 50px;
  }

  .abt-video {
    width: 50%;

    .backvideo {
      position: relative;
      width: 100%;
      cursor: pointer;
    }

    @include lg {
      width: 100%;
    }
    @include md {
      width: 100%;
    }
  }

  .abt-content {
    width: 50%;
    @include lg {
      width: 100%;
    }
    @include md {
      width: 100%;
    }

    img {
      padding-left: 15px;
    }
  }
}
