.content-40-60 {
    display: flex;
    max-width: 1920px;

    .content-40 {
        width: 40%;
        background: $primary-color;

        .content-text {
            position: absolute;
            width: 40%;
            left: 8%;
            top: 30%;
        }
    }

    .content-60 {
        width: 60%;

        img {
            max-width: 100%;
        }
    }
}
