
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap");
}

$font-weight:(
    "normal":400,
    "medium":500,
    "bold":600,
    "bolder":700
);